*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.container{
    display: flex;
 
    max-width: 1300px;
    margin: 100px auto;
}
.item{
    background-color: rgb(186, 186, 247);
     border: 2px solid black;
     border-radius: 10px;
} 
.hidden-content{
    display:none;
} 
.hidden-content.reveal-btn{
    display:block;
}

